$mainTextColor: "white";
$bgButton: "rgb(181,154,255)";
$bgHoverButton: "rgba(121,186,247,0.4)";
$colorErrorText: "red";
$bgLinearGradient: "linear-gradient(0deg, rgba(181, 154, 255, 1) 17%, rgba(121, 186, 247, 0.8) 61%)";
